html{
	overflow-x: hidden;
}

.font16{
    font-size: 16px;
}
.restorgreybg{
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 15px;
    font-style:italic;
}
.asbestoscleanenv{
    margin-top: 100px;
    color: #79787d;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.asbestossafeenv{
    color: #0e579c;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.renovtraditions{
    margin-top: 40px;
    color: #79787d;
    font-size: 26px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
}
.renovgrey{
    color: #79787d;
    font-size: 26px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
}
.renovblue{
    color: #0e579c;
    font-size: 26px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
}
/*---Modal past projects---*/

.product_view .modal-dialog{max-width: 1000px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}

/*--------------*/

.pdleft20{
    padding-left: 20px;
}
.displayinline{
    display: inline-block;
}
.pastproject-title{
    color: #0e579c;
    font-weight: 700;
    font-size: 30px;
}

.parentscrollside{
    position: fixed;
    width: 25%;/*25px*/
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 10px rgba(66,66,66, 0.6);
}

.container{
    box-shadow: 2px 0px 8px 0px rgba(66,66,66,0.6);
}
.childscrollside{
    width: 106%;
    height: 100%;
    overflow-y: scroll;
    z-index: 1000;
}

ul.newsidebar{
    list-style-type:none;
    display:inline;
    margin-top: 100px !important;
}
ul.newsidebar li{
    text-transform:uppercase;
    font-weight:400;
    padding:7px;
    margin-bottom:2px;
    color:#807e82;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 10px;
}

ul.newsidebar li.active,ul.newsidebar li:hover{
    color: #004794;
}
ul.newsidebar .subside{
    color:#4c4c4d;
    text-transform:none;
    font-size:12px;
    font-weight: 400;
}
ul.newsidebar .subside span{
    display: inline-block;
    margin-right: 5px;
    width: 0px;
    height: 0px;
    background-color: #004794;
    transition: all 0.4s;
}
ul.newsidebar .subactive span{
    /*border-left:7px solid #003263;*/
    width: 20px;
    height: 5px;
}

ul.newsidebar .subactive, ul.newsidebar .subside:hover{
    color:#004794;
}

.greysubbg{
    background-color: #e8e8e8;
    padding: 10px 0px;
}


.newpdf-brochure div{
    margin-left:35px;
    display:inline-block;
}
.newpdf-brochure{
    padding:10px;
    margin-top:40px;
    border-top:2px solid #737475;
    border-bottom:2px solid #737475;
    margin-left: 30px;
    margin-right: 40px;
}

.newpdf-brochure div{
    margin-top:10px;
    color:#0e579c;
    font-weight:600;
    text-transform:uppercase;
    text-align: left;
}
.newpdf-brochure img{
    margin-left: 20px;
    margin-top:-20px;
    width:50px
}
.sidecontactwrap{
    margin-left: 30px;
    margin-top: 40px;
}
.sidecontact{
    color:#4c4c4d;
    font-size: 13px;
}

.numbertop{
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
}

ul.newmegamenu{
    width: 100%;
    float: left;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    list-style: none;

}

ul.newmegamenu li{
    display: inline-block;
    margin-right: 10px;
    padding: 15px 5px;
    text-transform: uppercase;
    color: #6b6b6b;
    font-weight: 900;
    width: 13%;
    margin-left: 2%;
    text-align: center;
    position: relative;
}

ul.newmegamenu li:first-child {
    margin-left: 0;
}


ul.newmegamenu li:hover{
    color: #0e579c;
}

ul.newmegamenu li.active{
    color: #0e579c;
}

ul.newmegamenu li:hover:after, ul.newmegamenu li.active:after{
    position: absolute;
    content: '';
    width: 93%;
    bottom:10px;
    left: 5px;
    border-bottom:4px solid #0e579c;
}

.rightalign{
    text-align:right;
}
.contactbtn{
    margin-left: 40px;
}

.pdright30{
    padding-right: 30px;
}

.social-grey{
    width: 25px;
    margin-right: 10px;
}

.valigntop{
    vertical-align: top;
}

.index-difference{
    width: 380px;
}
.index-greybg{
    background-color: #f5f5f5;
    padding: 30px 20px;
    font-style: italic;
    width: 97%;
}

div.corevalues_container{
    width: 30%;
    display: inline-block;
    margin-right: 3%;
}
div.corevalues_name{
    background-color: #2a53a1;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px;
    font-size: 15px;
}
div.corevalues_description{
    background-color: #f5f5f5;
    padding: 15px;
    margin-top: 5px;
    float: right;
    min-height: 170px;
}

div.mission_bluebg{
    background-color: #2a53a1;
    display: inline-block;
    color: white;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 100px;
    font-size: 15px;
}

div.mission_description{
    background-color: #f5f5f5;
    padding: 15px;
    margin-top: 5px;
    position:relative;
    /*min-height: 110px;*/
}

/*div.mission_description:before{
    content:'';
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border-top: 110px solid #f5f5f5;
    border-right: 25px solid white;
}*/

.mt-vision{
    margin-top: -170px;
}

@media(max-width:1495px) {
    .mt-vision{
        margin-top: -100px;
    }
}
@media(max-width:1300px) {
    ul.newmegamenu li{
        display: inline-block;
        margin-right: 10px;
        padding: 15px 5px;
        text-transform: uppercase;
        color: #6b6b6b;
        font-weight: 900;
        width: 12%;
        margin-left: 2%;
        text-align: center;
        position: relative;
    }
    .mt-vision{
        margin-top: 0px;
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .newpdf-brochure div{
        margin-left: 5px;
    }

    .newpdf-brochure img{
        margin-left: 5px;
    }
}
/*REMAKE TO WIDTH*/
@media(min-width:2100px) {
   .iconsert{
       height: 80px;
       margin-top: 10px;
   }

   .parentscrollside{
        position: fixed;
        width: 325px;/*25%*/
        height: 100%;
        overflow: hidden;
        z-index: 1000;
        background-color: white;
        box-shadow: 0 0 10px rgba(66,66,66, 0.6);
      
    }

    .container{
	    width: 1300px;
	}

    .childscrollside{
        width: 106%;
        height: 100%;
        overflow-y: scroll;
        z-index: 1000;
    }

    ul.newmegamenu li{
        display: inline-block;
        margin-right: 8px;
        padding: 15px 5px;
        text-transform: uppercase;
        color: #6b6b6b;
        font-weight: 900;
        width: 12%;
        margin-left: 2%;
        text-align: center;
        position: relative;
    }

    .mt-vision{
	    margin-top: -50px;
	}
}