@import '../fonts/opensans.css';

body{
	font-family: 'Open Sans';
}
footer{
	margin-top: 10px;
	background-color: #cacbcc;
	padding: 10px;
}


p{
	color: #000;
}

ul{
	color: #000;
}
.greybordbottom{
	border-bottom: 1px solid lightgrey;
}

.rightalign{
	position: absolute;
	right: 15px;
}

a:hover{
	cursor: pointer;
}

.readmoreimg{
	width:30px;
}

.toppattern{
	height: 20px;
	width: 100%;

	background: url(../img/icons/new-icons/toppattern.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.sideimg{
	width: 23px;
	margin-right: 5px;
}

.recentimg{
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.search-custom{
	width:200px;
	height: 30px;
	margin-left: 30px;
	padding-top: 4px;
	display:inline-block;
}

.recentdate{
	font-size: 13px;
	color: grey;
}
.recentdescr{
	font-size: 13px;
}
.red{
	color: #e81e25;
}
.bluegrey{
	color: #73a9d9;
}
.btn-success{
	background-color: #0e579c;
	border-radius: 0px;
	font-weight: 900;
	padding: 10px 20px;
	letter-spacing:2px;
	border: none;
}

.btn-success:hover, .btn-success:active, .btn-success:focus{
	background-color: #0e578c;
	border: none;
}

.btn-primary{
	background-color: #14589c;
	font-weight: 700;
	border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #14589c;
	border: none;
}

.fixed-nav-bar {
  /*position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;*/
  padding-top: 10px;
  border-bottom: 5px solid #14589c;
}

.pdf-brochure{
	background-color: #0066a6;
	padding: 10px;
	margin-top: 50px;
}

.pdf-brochure:hover{
	background-color: #003263;
}

.pdf-brochure div{
	display:inline-block;
	margin-left: 50px;
	margin-top: 10px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
}

.pdf-brochure img{
	margin-top: -20px;
	margin-left: 50px;
	display:inline-block;
	width:50px;
}

.phonemargin{
	margin-left: 538px;

}

.socialtop{
	width: 30px;
	margin-right: 10px;
}

.social{
	width: 35px;
}

.certifonpage{
	width:150px;
}

.iconsert{
	display: inline-block;
	height: 80px;
	margin-right: 20px;
}

.certiffooter{
	width: 100px;
}
.font12{
	font-size: 12px;
}
.font18{
	font-size: 18px;
}

.font22{
	font-size: 20px;
}

.font23{
	font-size: 23px;
}

.font30{
	font-size: 30px;
}

.font36{
	font-size: 36px;
}

.italic{
	font-style: italic;
}

ol.italic li{
	font-style: italic;
}


ol {
  counter-reset: item;
}

ol > li {
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 3px;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.uppercase{
	text-transform: uppercase;
}

.white{
	color: white;
}

.blue{
	color: #0e579c;
}

.green{
	color: #009c49;
}

.grey{
	color: #696969;
}

.red{
	color: #eb3437;
}

.bluebg{
	background-color: #14589c;
	min-height: 20px;
}

.redbg{
	background-color: #e81e25;
}

.centered{
	text-align: center;
}

.right{
	text-align: right;
}

.space3{
	letter-spacing: 3px;
}

.space1{
	letter-spacing: 1px;
}

.space2{
	letter-spacing: 2px;
}
.mainmenu{
	color: #696969;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px;
}

.mainmenu:hover{
	color: #696969;
	font-weight: 600;
	text-decoration: none;
}

a{
	color: #0e579c;
}
a:hover{
	text-decoration: none;
}


h1{
	font-size: 18px;
}

h2{
	font-size: 16px;
}
.bold{
	font-weight: 700;
}

.bolder{
	font-weight: 900;
}

.whitebg{
	background-color: white;
}

.shadow{
	text-shadow: 1px 1px  #000000;
}

.paragraph{
	font-weight: 600;
}

.logo{
	width: 220px;
}

.logomob{
	width: 86px;
}




.submenu{
	border-top: 2px solid #0e579c;
	display: none;
}

.ul-submenu{
	display: none;
}

.ul-submenu li{
	display: inline-block;
	margin-left: 15px; 
	padding-top: 10px;
	color: #0e579c;
}

.ul-submenu li a{
	margin-right: 15px; 
	color: #0e579c;
	font-size: 13px;
}

.nomargandpadd{
	margin:0px;
	padding:0px;
}

.pd0{
	padding: 0 !important;
}

.pdleft0{
	padding-left: 0 !important;
}

.pdright0{
	padding-right: 0 !important;
}

.pdtopbot20{
	padding-top:20px;
	padding-bottom: 30px;
}

.mt-70{
	margin-top:-70px;
}

.mt-75{
	margin-top:-75px;
}

.mt-50{
	margin-top: -50px;
}

.mt-150{
	margin-top: -150px;
}

.mt-250{
	margin-top: -250px;
}

.mt-400{
	margin-top: -400px;
}

.mt10{
	margin-top: 10px;
}

.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top:30px;
}

.mt50{
	margin-top: 50px;
}

.mt60{
	margin-top: 60px;
}

.mt75{
	margin-top: 75px;
}

.mt100{
	margin-top: 100px;
}

.mt150{
	margin-top: 150px;
}

.mt180{
	margin-top: 180px;
}

.ml-100{
	margin-left: -100px;
}

.ml-200{
	margin-left: -200px;
}

.ml-300{
	margin-left: -300px;
}

.ml75{
	margin-left: 75px;
}
.ml100space{
	margin-left: 100px;
}

.mr10{
	margin-right: 10px;
}

.mb10{
	margin-bottom: 10px;
}

.bottomp{
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 900;
}

#bg1{
	background: url(../img/AstraUI-Architectural-01.png);
	min-height: 650px;
	background-size: cover;
	padding-top: 100px;
	background-position: center bottom;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg2{
	background: url(../img/AstraUI-BOTTOM-01.png);
	min-height: 600px;
	background-size: cover;
	padding-top: 210px;
	background-repeat: no-repeat;
}

.greenbg{
	background-color: #009c49;
}

#bg3{
	background: url(../img/CommercialLanding.png);
	min-height: 600px;
	background-size: cover;
	padding-top: 100px;
	background-position: center bottom;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg4{
	background: url(../img/AstraUI-Commercial_Renovations-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg5{
	background: url(../img/AstraUI-Construction_Management-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg6{
	background: url(../img/AstraUI-Community-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg7{
	background: url(../img/AstraUI-Core_Values-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg8{
	background: url(../img/AstraUI-Corporate_Responsibility-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg9{
	background: url(../img/AstraUI-Environmental_Responsibility-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg10{
	background: url(../img/AstraUI-Environmental_Safety-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg11{
	background: url(../img/AstraUI-Health_Safety-01.png);
	min-height: 620px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg12{
	background: url(../img/AstraUI-Home-02.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: -2px;
	background-repeat: no-repeat;
}

#bg13{
	background: url(../img/OurCompanyTruck.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg14{
	background: url(../img/AstraUI-Workplace_Safety-01.png);
	min-height: 700px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 150px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg15{
	background: url(../img/AstraUI-Custom_Homes-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg16{
	background: url(../img/AstraUI-Multi-Family_Building-01.png);
	min-height: 665px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg17{
	background: url(../img/AstraUI-Residential_Landing_Page-01.png);
	min-height: 665px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg18{
	background: url(../img/AstraUI-Residential_Renovations-01.png);
	min-height: 665px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg19{
	background: url(../img/AstraUI-Tenant_Improvements-01.png);
	min-height: 665px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 50px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg20{
	background: url(../img/AstraUI-Asbestos_Abatement-01.png);
	min-height: 665px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg21{
	background: url(../img/AstraUI-Fire_Restoration-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg22{
	background: url(../img/AstraUI-Mould_Remediation-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}


#bg23{
	background: url(../img/restoration.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg24{
	background: url(../img/AstraUI-Storm_Damage-01.png);
	min-height: 550px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg25{
	background: url(../img/AstraUI-Water_Damage-01.png);
	min-height: 550px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg26{
	background: url(../img/AstraUI-Contact-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;

	background-repeat: no-repeat;
}

#bg27{
	background: url(../img/AstraUI-Earthworks-01.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg28{
	background: url(../img/RetainingWalls.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg29{
	background: url(../img/Irrigation.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg30{
	background: url(../img/MunicipalParkConstruction.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg31{
	background: url(../img/SurfaceFinishing.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

#bg32{
	background: url(../img/SyntheticGrass.png);
	min-height: 600px;
	background-position: center bottom;
	background-size: cover;
	padding-top: 100px;
	margin-top: 110px;
	background-repeat: no-repeat;
}

.customform{
	background-size: 35px;
	padding-left:40px; 
	border-radius:0px; 
	background-color:rgba(192,192,192,0.3);
}

ul.megamenu{
	margin-bottom: 0;

	width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

ul.megamenu li{
	margin-top: 20px;
	display: inline-block;
	margin-right: 10px;
	padding: 15px 20px;
	text-transform: uppercase;
	color: #6b6b6b;
	font-weight: 400;

	width: 15%;

    margin-left: 2%;
    text-align: center;
}

ul.megamenu li:first-child {
    margin-left: 0;
}


ul.megamenu li:hover{
	background-color: #14589c;
	color: white;
}

ul.megamenu li.active{
	background-color: #14589c;
	color: white;
}



ul.sidebar{
	display: inline;
	list-style-type: none;
}

ul.sidebar li{
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	background-color: #0066a6;
	padding: 10px 10px;
	margin-bottom: 2px;

}

ul.sidebar li:hover{
	background-color: #003263;
}

ul.sidebar li.active{
	background-color: #003263;
}

.margnav{
	margin-top:20px;
}

ul.sidebar .subside{
	text-transform: none;
	background-color: #e3e3e3;
	color: #333;
	font-size: 12px;
	border-left:7px solid #e3e3e3;
}

ul.sidebar .subside:hover{
	background-color: #e3e3e3;
	color: #333;
	border-left:7px solid #003263;
}

ul.sidebar .subactive{
	border-left:7px solid #003263;
}


@media (max-width:976px) {
	.mobnodispl{
		display: none;
	}

	.ml-100{
		margin-left: 0px;
	}

	.ml-200{
		margin-left: 0px;
	}

	.ml-300{
		margin-left: 0px;
	}

	.ml100space{
		margin-left: 0px;
	}
	.mt-75{
		margin-top: 10px;
	}

	.mt-400{
		margin-top: 10px;
	}

	.mt-150{
		margin-top: 10px;
	}

	.mt-250{
		margin-top: 10px;
	}
	#bg2{
		padding-top: 100px;
	}

	.callus{
		font-size: 30px;
	}
}



@media (max-width:510px) {


	#bg1{
		min-height: 550px;
	}
	#bg3{
		min-height: 550px;
	}

	
}

@media (min-width:977px) {
	.compnodispl{
		display: none;
	}
}

@media (max-width:1233px) {

	.phonemargin{
		margin-left: 35px;
	}

}



@media (max-width:1500px) {

	.mt-150{
		margin-top: 10px;
	}
}

@media (min-width:1950px) {

	#bg1,#bg2,#bg3,#bg4,#bg5,#bg6,#bg7,#bg8,#bg9,#bg10,#bg11,#bg12,#bg13,#bg14,
	#bg15,#bg16,#bg17,#bg18,#bg19,#bg20,#bg21,#bg22,#bg23,#bg24,#bg25,#bg26,#bg27,
	#bg28,#bg29,#bg30,#bg31,#bg32{
		background-size: contain;
	}

	.mt-50{
		margin-top: 0px;
	}
	.mt-70{
		margin-top: 10px;
	}
	.mt-150{
		margin-top: 10px;
	}
}
ul.dropdown-menu{height:500px; width:100%;}
ul.dropdown-menu{overflow:hidden; overflow-y:scroll;}


@media (min-width:768px) and (max-width:1200px) {
	.pdf-brochure div{
		margin-left: 5px;
	}

	.pdf-brochure img{
		margin-left: 5px;
	}
}


@media (min-width:1500px) {

	.iconsert{
		height: 120px;
	}
}